<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-title>Nova Música</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" (ngSubmit)="formSubmit()">
    <ion-input type="text" [(ngModel)]="formData.title" name="title" placeholder="Item" required><ion-icon name="pricetag"></ion-icon></ion-input>
    <ion-input type="text" [(ngModel)]="formData.value" name="value" type="number" placeholder="Nota (0 à 10)" required><ion-icon name="information-circle"></ion-icon></ion-input>
    <ion-input type="text" [(ngModel)]="formData.image_url" name="image_url" placeholder="Imgaem (URL)" required><ion-icon name="image"></ion-icon></ion-input>

    <ion-button type="submit" class="submit-button" color="success" expand="block">Cadastrar</ion-button>
  </form>
</ion-content>
